<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>
      <%= event.event_name %>: Control Center
    </title>
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/admin.js" type="text/javascript"></script>
  </head>

  <body>
    <section style="padding-bottom:0" class="section has-background-black has-text-white">
      <div class="columns">
          <div class="column is-half transparent">
            <div class="container is-fluid is-size-4">
                munverse <br><div class="is-size-1"><i class="fa fa-sliders-h"></i> Control Center </div>
            </div>
          </div>
          <div class="column is-half transparent" style="margin-top:auto">
                <div id="div-logout" class="is-pulled-right is-size-4"><i class="fa fa-sign-out"></i> logout </div>
          </div>
      </div>
    </section>
    <section class="section" style="padding: 0">
        <div class="container is-fluid">
            <div class="is-text-3 has-text-danger has-text-weight-bold">
                <% if (error_event) { %>
                    Event error: <%= error_event %>
                <% } %>
                <% if (error_council) { %>
                    Council error: <%= error_council %>
                <% } %>
            </div>
            <div class="columns">
                    <div class="column is-fourth">
                        <div class="is-size-1">
                            Event Settings<hr>
                            <strong class="is-size-2"><%= event.event_name %></strong>
                        </div>
                        <div class="image-container">
                            <img class="icon-top" src="<%= event.event_logo_url%>">
                        </div>
                        <form id="event-form" action="/admin/event" method="POST">
                            <div class="field"><br>
                                <label class="label is-size-4">Edit event's name or banner.</label>
                                <div class="control" style="width: 300px">
                                    <input name="event_name" class="input" type="text" placeholder="<%= event.event_name %>">
                                </div>
                            </div>
            
                            <div class="field">
                                <div class="control">
                                    <div class="file is-small">
                                        <label class="file-label">
                                            <input id="event-logo-file" class="file-input" type="file" name="event_logo_file">
                                            <input id="event-logo" style="display:none" type="text" name="event_logo">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fa fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    <strong>Choose a file</strong>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="event-logo-preview-div">
                                <img id="event-logo-preview">
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column is-fourth">
                        <div class="is-size-1">Council Settings<hr>
                            <strong class="is-size-2"><%= council.council_name %></strong>
                        </div>
                        <div class="image-container">
                            <img class="icon-top" src="<%= council.council_logo_url%>">
                        </div>
                        <form id="council-form" action="admin/council" method="POST">
                            <div class="field"><br>
                                    <label class="label is-size-4">Edit council's name or banner.</label>
                                <div class="control" style="width: 300px">
                                    <input class="input" name="council_name" type="text" placeholder="<%= council.council_name %>">
                                </div>
                            </div>
            
                            <div class="field">
                                <div class="control">
                                    <div class="file is-small">
                                        <label class="file-label">
                                            <input id="council-logo-file" class="file-input" type="file" name="council_logo_file">
                                            <input id="council-logo" style="display:none" type="text" name="council_logo">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fa fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    <strong>Choose a file</strong>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="council-logo-preview-div">
                                <img id="council-logo-preview">
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column is-fourth">
                        <div class="is-size-1">User Settings
                                <div class="control">
                                        <a data-target="#myModal" class="modal-button button is-primary">
                                        ADD USER
                                        </a>
                                    </div>
                        </div>
                        <div class="modal" id="myModal">
                            <div class="modal-background"></div>
                            <div class="modal-content box">
                                <h1><strong>New User</strong></h1>
                                <form action="/admin/user" method="POST">
                                    <div class="field">
                                        <label class="label">Username</label>
                                        <div class="control">
                                            <input name="username" class="input" type="text" placeholder="e.g India">
                                        </div>
                                    </div>
            
                                    <div class="field">
                                        <label class="label">Password</label>
                                        <div class="control">
                                            <input name="password" class="input" type="password" placeholder="password">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">User Type</label>
                                        <div class="control">
                                            <div class="select">
                                                <select name="user_type" id="select">
                                                    <option value="1">Delegate</option>
                                                    <option value="2">EB</option>
                                                    <option value="3">Admin</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                            <div class="control">
                                                <div class="file is-small">
                                                    <label class="file-label">
                                                        <input id="profile-picture" class="file-input" type="file">
                                                        <input id="profile-picture-base64" name="profile_picture" type="text" style="display:none">
                                                        <span class="file-cta">
                                                            <span class="file-icon">
                                                                <i class="fa fa-upload"></i>
                                                            </span>
                                                            <span class="file-label">
                                                                <strong>Choose a file</strong>
                                                            </span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>
                        </div>
            
                        <hr>
                        <div class="field has-addons">
                            <div class="control" style="width: 300px">
                                <input class="input" type="text" placeholder="Find users">
                            </div>
                            <div class="control">
                                <a class="button is-primary">
                                Search
                                </a>
                            </div>
                        </div>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <td width="5%"><a class="is-small is-primary" href="#"><i class="fa fa-trash-o"></i></a></td>
                                            <td>Argentina</td>
                                            <td><a class="is-small is-primary" href="#"><i class="fa fa-pencil"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><a class="is-small is-primary" href="#"><i class="fa fa-trash-o"></i></a></td>
                                            <td>India</td>
                                            <td><a class="is-small is-primary" href="#"><i class="fa fa-pencil"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="column is-fourth">
                            <div class="is-size-1">Online Users</div>
                            <hr>
                    </div>
                </div>
            </div>
    </section>
  </body>
  <script>
    document.querySelectorAll(".modal-button").forEach(function(el) {
      el.addEventListener("click", function() {
        var target = document.querySelector(el.getAttribute("data-target"));

        target.classList.add("is-active");

        target
          .querySelector(".modal-close")
          .addEventListener("click", function() {
            target.classList.remove("is-active");
          });
      });
    });
  </script>
</html>
