<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VITCMUN 19: E-Chit</title>
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <!-- Bulma Version 0.7.2-->
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/inbox.css">
  <link rel="stylesheet" type="text/css" href="/css/chatbubbles.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/inbox.js"></script>
  <script type="text/javascript" src="/js/message.js"></script>
  <script>
    function columns_click(username, profile_picture_url) {
      // aesthetics
      $("#from_user").html(username)
      if (profile_picture_url) {
        $("#msg-from-img").attr("src", profile_picture_url)
        // load iframe
        $(".iframe").html(`<iframe id="message-window" src='/message?from_user=${username}' style="height:100%;width:100%; color: white"></iframe>`)
        // reset user-list items color
        $(".list-item").css("background-color", "#FFFFFF")
        // change active list item's color
        $(`#${username}_list_item`)[0].style.backgroundColor = "#FCC000"
        }
      // input methods
      $("#message_box").show()
      $("#send_message").show()
      var offline = $(`#${username}_status`).hasClass("offline")
      if (offline == true) {
        $("#message_box").prop("disabled", "disabled");
        $("#send_message").css("display", "none")
      } else {
        $("#message_box").prop("disabled", false);
        $("#send_message").css("display", "block")
      }
    }
  </script>
</head>

<body style="overflow: hidden;">
  <!-- START NAV -->
  <nav class="navbar dark shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!--Big Flag for Desktop Device-->
      <a class="navbar-item is-hidden-mobile navbar-flag" href="#">
        <img id="user-icon" class="icon-top" src="<%= user.profile_picture_url %>" width="25%" height="25%">
        <h1 id="current_user" style="margin-left: 20px"><%= user.username %></h1>
      </a>
      <!--Small Flag for Mobile Devices-->
      <a class="navbar-item is-hidden-tablet" href="#">
        <img class="icon-top" src="<%= user.profile_picture_url %>" width="50mm" height="50mm">
      </a>
      <!--Council Logo for Mobile Devices-->
     
      <div class="navbar-item is-logo is-hidden-tablet">
        <a class="is-logo" href="#">
          <img id="council-icon" class="icon-top" src="<%= council.council_logo_url %>">
        </a>
      </div>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu" style="color: #ffffff;">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-basic-example" class="navbar-menu">
      <!--Council Logo for Laptop Devices-->
      <div class="navbar-item is-logo is-hidden-mobile">
        <a class="is-logo" href="#">
          <img id="council-icon" class="icon-top" src="<%= council.council_logo_url %>">
        </a>
      </div>
      <div  onclick="location.href='/logout';" class="navbar-end" id="navMenu">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button gold-button">
              <strong>
                LOGOUT
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->
  <table style="display:none">
    <tr>
      <td>
        <!-- from-country -->
        <table class="padded-table narrow-height-column">
            <tr>
              <td>
                <span class="msg-from">
                  <img id="msg-from-img" width="44mm" height="44mm" style="border-radius:75%">
              </span>
              </td>
              <td>
                <div class="mesg-header">
                  <span class="mesg-header">
                      <h1 id="from_user"></h1>
                  </span>
                </div>
              </td>
            </tr>
          </table>
      </td>
      <td>
        <!-- search bar-->
      </td>
    </tr>
  </table>
  <div class="columns is-multiline is-mobile top-margin-little">
    <div class="column is-9 iframe">
        <iframe id="threads-window" src='/message/threads' style="height:100%; width:100%; color: white"></iframe>
    </div>

    <div id="user-list has-text-right" class="column is-3" style="margin-left: 100; display:inline;">
          <div class="list"  style="height: 54vh;width: 80%; overflow: auto">
            <% for(var i=0; i<users.length; i++) {%>
              <% if (users[i].user_type !== 2 && users[i].username != user.username) { %>
                <a id="<%= users[i].username %>_list_item" class="list-item" style="background: white" onclick="columns_click(`<%= users[i].username %>`, '<%= users[i].profile_picture_url %>')">
                  <table class="padded-table">
                    <tr>  
                      <td style="width:20%">
                          <img width="44px" height="44px" style="border-radius:75%" src="<%= users[i].profile_picture_url %>">
                      </td>
                      <td style="width:60%"> <%= users[i].username %> </td>
                      <td class="has-text-right" style="width:50%"> <i id="<%= users[i].username %>_status" class="fa fa-circle offline" style="color:green"></i> </td>
                    </tr>
                  </table>
                </a>
              <% } %>
            <%}%>
          </div>
    </div>
    <div class="column is-8">
      <div class="field">
        <div class="control">
          <textarea id="message_box" maxlength="250" class="textarea is-warning message-input" placeholder="Message goes here"></textarea>
        </div>
      </div>
    </div>
    <div id="send_message" class="column is-1 has-text-centered">
      <a class="button gold-button is-bold">
        <span class="compose">
            <strong>
                REPLY
            </strong>
        </span>
      </a>
    </div>
    </div>
</body>

</html>
