<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1.0">
  <title>VITCMUN 19: E-Chit</title>
  <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <!-- Bulma Version 0.7.2-->
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/inbox.css">
  <link rel="stylesheet" type="text/css" href="/css/chatbubbles.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script type="text/javascript" src="/js/inbox.js"></script>
  <script type="text/javascript" src="/js/message.js"></script>

  <script>
    function columns_click(username) {
        $("#from_user").html(username);
        $(".message-input").show()
        $(".send").show()
        $(".iframe").html(`<iframe id="message-window" src='/message?from_user=${username}' style="height:100%;width:100%; color: white"></iframe>`)
    }
  </script>
</head>

<body scroll="no" style="overflow: hidden">
  <div id="current_user"><%= user.username %></div>
  <!-- START NAV -->
  <nav class="navbar dark" role="navigation" aria-label="main navigation" style="margin-top: 50px">
    <div class="navbar-brand">
      <!--Big Flag for Desktop Device-->
      <a class="navbar-item is-hidden-mobile navbar-flag" href="#">
        <img class="icon-top" src="<%= user.profile_picture_url %>" width="137mm" height="137mm">
      </a>
      <!--Small Flag for Mobile Devices-->
      <a class="navbar-item is-hidden-tablet" href="#">
        <img class="icon-top" src="<%= user.profile_picture_url %>" width="50mm" height="50mm">
      </a>
      <!--Council Logo for Mobile Devices-->
      <div class="navbar-item is-logo is-hidden-tablet">
        <a class="is-logo" href="#">
          <img class="icon-top" src="<%= council.council_logo_url %>" width="120">
        </a>
      </div>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu" style="color: #ffffff;">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-basic-example" class="navbar-menu">
      <!--Council Logo for Laptop Devices-->
      <div class="navbar-item is-logo is-hidden-mobile">
        <a class="is-logo" href="#">
          <img class="icon-top" src="<%= council.council_logo_url %>" width="100px">
        </a>
      </div>
      <div class="navbar-end" id="navMenu" style="margin-right: 20px">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button gold-button">
              <strong>
                LOGOUT
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->
  <div class="columns is-multiline is-mobile is-gapless is-vcentered" style="height: 100px">
      <div class="column  is-1" style="height: 100px;">
          <span class="msg-from">
              <img id="msg-from-img" src="<%= user.profile_picture_url%>" alt="USA" width="44px" height="44px" style="border-radius:75%">
          </span>
      </div>
      <div class="column  is-8" style="height: 100px;">
          <div class="mesg-header">
              <span class="mesg-header">
                  <h1 id="from_user"></h1>
              </span>
          </div>
      </div>
  
    <div class="column  is-9 iframe" style="height: 580px;" >
        <iframe id="threads-window" src='/message/threads' style="height:100%;width:100%; color: white"></iframe>
    </div>
    <div id="user-list" class="column  is-3" style="height: 580px;overflow: scrollY">
          <div class="list">
            <% for(var i=0; i<users.length; i++) {%>
              <% if (users[i].user_type !== 2 && users[i].username != user.username) { %>
                <a class="list-item" onclick="columns_click(`<%= users[i].username %>`)">
                  <img width="44px" height="44px" style="border-radius:75%" src="<%= users[i].profile_picture_url %>"> <%= users[i].username %>
                </a>
              <% } %>
            <%}%>
          </div>
    </div>
    <div class="column is-8">
      <div class="field">
        <div class="control">
          <textarea class="textarea is-warning message-input" placeholder="Enter message."></textarea>
        </div>
      </div>
    </div>
    <div class="send column is-1 has-text-centered">
      <a class="button gold-button is-bold">
        <span class="compose">
            <strong>
                REPLY
            </strong>
        </span>
      </a>
    </div>
    </div>
</body>

</html>
